/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    padding: 20px;
    color: #333;
}

header {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

header h1 {
    font-size: 2rem;
}

section {
    margin-bottom: 20px;
}

section h2 {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

footer {
    text-align: center;
    margin-top: 30px;
    background-color: #333;
    color: #fff;
    padding: 10px;
}
